$nette-overlay-on-speed:                    200ms !default;
$nette-overlay-out-speed:                   200ms !default;

$nette-overlay-on-bezier:                   cubic-bezier(0.4, 0, 1, 1) !default;
$nette-overlay-out-bezier:                  cubic-bezier(0.4, 0, 1, 1) !default;

$nette-overlay-backdrop-bg:                 rgba($black, 0.5) !default;
$nette-overlay-inner-bg:                    $white !default;

$nette-overlay-inner-max-width:             600px !default;
$nette-overlay-inner-margin:                50px 0 !default;
$nette-overlay-inner-padding:               40px !default;

$nette-overlay-close-width:                 33px !default;
$nette-overlay-close-height:                33px !default;
$nette-overlay-close-top:                   20px !default;
$nette-overlay-close-right:                 20px !default;
$nette-overlay-close-fill:                  $black !default;
$nette-overlay-close-fill-hover:            $black !default;
$nette-overlay-close-fill-opacity:          0.38 !default;
$nette-overlay-close-fill-opacity-hover:    1 !default;

$nette-overlay-z-wrap:                      1000 !default;
$nette-overlay-z-inner:                     1100 !default;
$nette-overlay-z-close:                     1200 !default;

$nette-overlay-structure: (
    default,
    content-styles,
    overflow-fix
) !default;


@if index($nette-overlay-structure, default) {
    @keyframes nette-overlay-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes nette-overlay-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    .nette-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $nette-overlay-z-wrap;
        display: none;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center;
        background: $nette-overlay-backdrop-bg;
        &:before {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
        &--on {
            display: block;
            opacity: 0;
            overflow-y: auto;
            animation: nette-overlay-in $nette-overlay-on-speed $nette-overlay-on-bezier 0s 1 forwards;
        }
        &--out {
            display: block;
            opacity: 1;
            animation: nette-overlay-out $nette-overlay-out-speed $nette-overlay-out-bezier 0s 1 forwards;
        }
        &--end {
            display: none;
        }
        &__inner {
            position: relative;
            z-index: $nette-overlay-z-inner;
            display: inline-block;
            width: 100%;
            max-width: $nette-overlay-inner-max-width;
            margin: $nette-overlay-inner-margin;
            padding: $nette-overlay-inner-padding;
            vertical-align: middle;
            font-size: rem(16);
            text-align: left;
            background: $nette-overlay-inner-bg;
            @if index($nette-overlay-structure, content-styles) {
                h3 {
                    margin-bottom: 20px;
                    font-size: rem(26);
                    font-weight: 700;
                    line-height: 1;
                    color: $black;
                }
                p {
                    margin-bottom: 20px;
                    font-size: rem(16);
                    line-height: 1.65;
                }
            }
        }
        &__close {
            position: absolute;
            top: $nette-overlay-close-top;
            right: $nette-overlay-close-right;
            z-index: $nette-overlay-z-close;
            display: block;
            width: $nette-overlay-close-width;
            height: $nette-overlay-close-height;
            svg {
                display: block;
                width: 100%;
                height: auto;
                fill: $nette-overlay-close-fill;
                fill-opacity: $nette-overlay-close-fill-opacity;
            }
            &:hover {
                svg {
                    fill: $nette-overlay-close-fill-hover;
                    fill-opacity: $nette-overlay-close-fill-opacity-hover;
                }
            }
        }
    }
    @if index($nette-overlay-structure, overflow-fix) {
        body {
            &.nette-overlay--shown {
                overflow: hidden;
            }
        }
    }
}
